html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-image: url("../img/2.jpg");
    background-size: cover;
    color: #f8f9fb;
}

.register {
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 40px;
    margin-bottom: 20px;
}

.card {
    background-color: #343a40;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar {
    border-bottom: 1px solid #ffffff;
}

footer {
    border-top: 1px solid #ffffff;
}

.form-control {
    background-color: #495057;
    border-color: #6c757d;
    color: #f8f9fa;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.nav-link {
    color: #adb5bd;
    opacity: 0.85;
}

.nav-link:hover {
    color: #f8f9fb;
    opacity: 1;
}
